<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beagledata.gaea.workbench.mapper.DecisionLogMapper">
    <resultMap id="decisionLogResultMap" type="DecisionLog">
        <id property="id" column="id" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="orgUuid" column="org_uuid" />
        <result property="orgName" column="org_name" />
        <result property="deployUuid" column="deploy_uuid" />
        <result property="microUuid" column="micro_uuid" />
        <result property="pkgUuid" column="pkg_uuid" />
        <result property="pkgBaseline" column="pkg_baseline" />
        <result property="reqType" column="req_type" />
        <result property="state" column="state" />
        <result property="pass" column="is_pass" />
        <result property="effective" column="is_effective" />
        <result property="reqText" column="req_text" />
        <result property="resText" column="res_text" />
        <result property="fullText" column="full_text" />
        <result property="decisionTrace" column="decision_trace" />
    </resultMap>

    <select id="selectPages" resultMap="decisionLogResultMap">
        SELECT tdlq.req_text, tdls.full_text
        FROM t_decision_log_${tableMonth} tdl
        LEFT JOIN t_decision_log_req_${tableMonth} tdlq ON tdl.uuid = tdlq.uuid
        LEFT JOIN t_decision_log_res_${tableMonth} tdls ON tdl.uuid = tdls.uuid
        WHERE
        <if test="microUuid != null and microUuid != ''">
            tdl.micro_uuid = #{microUuid}
            AND
        </if>
        tdl.create_time BETWEEN #{startDate} AND #{endDate} AND is_effective
        ORDER BY tdl.create_time DESC
        <if test="start != null and end != null">
            LIMIT #{start}, #{end}
        </if>
    </select>

    <select id="selectStateAndMicroUuid" resultMap="decisionLogResultMap">
        SELECT state, micro_uuid
        FROM t_decision_log_${logTableMonth}
        WHERE uuid = #{uuid}
    </select>

    <select id="selectTrace" resultMap="decisionLogResultMap">
        SELECT full_text, decision_trace
        FROM t_decision_log_res_${logTableMonth}
        WHERE uuid = #{uuid} AND is_effective = 1
        LIMIT 1
    </select>
</mapper>