<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beagledata.gaea.workbench.mapper.FolderMapper">
    <resultMap id="FolderResultMap" type="com.beagledata.gaea.workbench.entity.Folder">
        <id property="id" column="id"/>
        <result property="uuid" column="uuid"/>
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="dirId" column="dir_id"/>
        <result property="dirName" column="dir_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="projectUuid" column="project_uuid"/>
        <result property="locked" column="is_locked"/>
        <association property="creator" javaType="User" resultMap="userResultMap" />
    </resultMap>

    <resultMap id="userResultMap" type="User">
        <result property="username" column="username" />
        <result property="uuid" column="creatorUuid" />
    </resultMap>

    <sql id="key">
        <if test="uuid != null and uuid != ''">
            uuid,
        </if>
        <if test="updateTime != null and updateTime != ''">
            update_time,
        </if>
        <if test="dirId != null and dirId != ''">
            dir_id,
        </if>
        <if test="dirName != null and dirName != ''">
            dir_name,
        </if>
        <if test="parentId != null and parentId != ''">
            parent_id,
        </if>
        <if test="categoryName != null and categoryName != ''">
            category_name,
        </if>
        <if test="projectUuid != null and projectUuid != ''">
            project_uuid,
        </if>
         <if test="locked != null and locked != ''">
            is_locked,
        </if>
        creator_uuid,
        create_time
    </sql>

    <sql id="value">
        <if test="uuid != null and uuid != ''">
            #{uuid},
        </if>
        <if test="updateTime != null and updateTime != ''">
            #{updateTime},
        </if>
        <if test="dirId != null and dirId != ''">
            #{dirId},
        </if>
        <if test="dirName != null and dirName != ''">
            #{dirName},
        </if>
        <if test="parentId != null and parentId != ''">
            #{parentId},
        </if>
        <if test="categoryName != null and categoryName != ''">
            #{categoryName},
        </if>
        <if test="projectUuid != null and projectUuid != ''">
            #{projectUuid},
        </if>
        <if test="locked != null and locked != ''">
            #{locked},
        </if>
        #{creator.uuid},
        NOW()
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_folder (<include refid="key"/>)
        VALUES (<include refid="value"/>)
    </insert>

    <select id="listDirId" resultType="java.lang.String">
        SELECT DISTINCT dir_id FROM t_folder
        WHERE project_uuid = #{param1} AND category_name = #{param2} AND !is_deleted
        GROUP BY dir_id;
    </select>

    <select id="listAllByDirId" resultMap="FolderResultMap">
        SELECT * FROM t_folder
        WHERE dir_id = #{param1} AND project_uuid = #{param2} AND category_name = #{param3} AND parent_id = #{param4} AND !is_deleted
    </select>

    <update id="update">
        UPDATE t_folder
        <set>
            update_time = NOW()
            <if test="dirName != null and dirName != ''">
             , dir_name = #{dirName}
            </if>
        </set>
        WHERE uuid = #{uuid} AND !is_deleted AND !is_locked
    </update>

    <update id="delete">
        UPDATE t_folder
        SET update_time = NOW(), is_deleted = TRUE, delete_version = id
        WHERE uuid = #{uuid} AND !is_locked
    </update>

    <select id="selectByUuid" resultMap="FolderResultMap">
        SELECT * FROM t_folder WHERE uuid = #{uuid} AND !is_deleted
    </select>

    <select id="selectByProjectUuid" resultMap="FolderResultMap">
        SELECT uuid, dir_id, dir_name, parent_id, category_name FROM t_folder WHERE project_uuid = #{projectUuid} AND !is_deleted
    </select>

     <select id="selectByParentId" resultMap="FolderResultMap">
        SELECT * FROM t_folder WHERE parent_id = #{parentId} AND !is_deleted
    </select>

    <select id="selectLockInfo" resultMap="FolderResultMap">
        SELECT t1.uuid, t1.is_locked, t2.username, t2.uuid as creatorUuid
        from t_folder t1 LEFT JOIN <include refid="com.beagledata.gaea.workbench.mapper.UserMapper.union_users" /> t2 ON t1.creator_uuid = t2.uuid
        WHERE  t1.uuid = #{uuid}
    </select>

    <update id="updateLock">
        UPDATE t_folder
        SET is_locked = #{param2}, update_time = NOW()
        WHERE uuid = #{param1}
    </update>

    <insert id="insertBatch">
        INSERT INTO t_folder (uuid, create_time, dir_id, dir_name, parent_id, category_name, project_uuid, creator_uuid)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.uuid}, NOW(), #{item.dirId}, #{item.dirName}, #{item.parentId}, #{item.categoryName}, #{item.projectUuid}, #{item.creator.uuid})
        </foreach>
    </insert>
    <select id="selectByParames" resultMap="FolderResultMap">
        SELECT
            uuid,
            dir_name,
            parent_id,
            dir_id
        FROM
            t_folder
        WHERE
          !is_deleted
            <if test="uuid != null and uuid != ''">
                AND uuid = #{uuid}
            </if>
            <if test="dirId != null and dirId != ''">
                AND dir_id = #{dirId}
            </if>
            <if test="dirName != null and dirName != ''">
                AND dir_name = #{dirName}
            </if>
            <if test="parentId != null and parentId != ''">
                AND parent_id = #{parentId}
            </if>
            <if test="categoryName != null and categoryName != ''">
                AND category_name = #{categoryName}
            </if>
            <if test="projectUuid != null and projectUuid != ''">
                AND project_uuid = #{projectUuid}
            </if>
    </select>

    <select id="countLocked" resultType="Integer">
        SELECT
            count(*)
        FROM
            r_folder tf
        LEFT JOIN t_assets ta ON tf.uuid = ta.dir_parent_id
        WHERE
            (
                tf.uuid = #{uuid}
                OR tf.parent_id = #{uuid}
            )
        AND tf.is_deleted = FALSE
        AND (
            tf.is_locked = TRUE
            OR ta.is_locked = TRUE
            OR (ta.is_deleted = FALSE AND ta.editor IS NOT NULL)
        )
    </select>

    <select id="selectAssetsUuidByFolderUuid" resultType="String">
        SELECT
            ta.uuid
        FROM
            t_folder tf
        JOIN t_assets ta NO tf.uuid = ta.dir_parent_id
        WHERE
            (
                tf.uuid = #{uuid}
                OR tf.parent_id = #{uuid}
            )
        AND tf.is_deleted = FALSE
        AND ta.is_deleted = FALSE
    </select>

    <update id="deleteAssets">
        UPDATE t_assets
        SET is_deleted = TRUE, delete_version = id
        WHERE
            dir_parent_id IN (
                SELECT
                    uuid
                FROM
                    t_folder
                WHERE
                    uuid = #{uuid}
                OR parent_id = #{uuid}
            )
    </update>

    <update id="deleteFolders">
        UPDATE t_folder
        SET is_deleted = TRUE, delete_version = id
        WHERE
            uuid = #{uuid} OR parent_id = #{uuid}
    </update>

    <!-- 多个根据文件uuid查询子文件 -->
    <select id="selectByParentUuids" resultMap="FolderResultMap">
        SELECT
            tf.uuid,
            tf.dir_name,
            tf.parent_id,
            tf.dir_id,
            tf.is_locked
        FROM t_folder tf
        WHERE tf.parent_id IN
        <foreach collection="collection" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND !tf.is_deleted
    </select>

    <!-- 根据多个文件uuid删除 -->
    <update id="deleteByUuids">
        UPDATE t_folder
        SET update_time = NOW(), is_deleted = true, delete_version = id
        WHERE uuid IN
        <foreach collection="collection" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>